#!/usr/bin/make -f

# verbose mode
#export DH_VERBOSE=1

override_dh_pysupport:

build-arch:
	dh build-arch

build-indep:
	dh build-indep

build: build-arch build-indep
	dh build
	touch \$@-stamp

clean:
	dh clean

install-indep: build
	dh install-indep

install-arch: build
	dh install-arch

install: install-arch install-indep
	dh install
	touch \$@-stamp

binary-arch: build install
	dh binary-arch

binary-indep: build install
	dh binary-indep

binary: binary-indep binary-arch
	dh binary
	touch \$@-stamp

.PHONY: build-arch build-indep build clean install-indep install-arch install binary-arch binary-indep binary
